@font-face {
  font-family: 'WayCome';
  src: url('https://arkellmusic.github.io/brevo-fonts/WayCome.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
